@charset "UTF-8";

@font-face {
    font-family: "poppins-Bold";
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype'); 
}


/* 
#864cff -- roxo
#151515 -- preto
#7762a5 -- roxo-clao
#ececec -- cinza-claro

*/
html, body {
    padding: 0;
    margin: 0;
    background-color: #f0f0f0;
    display: flexbox;
}

main {
    margin: auto;
    font-family: 'poppins-Bold';
    height: 500px;
    width: 800px;
    margin-top: 100px;
    border-radius: 30px 30px 200px 30px;
}

div.data {
    display: flex;
}

