@charset "UTF-8";

@font-face {
    font-family: "poppins-Bold";
    src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype'); 
}
:root{

    /* Primary */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

/* 
#864cff -- roxo
#151515 -- preto
#7762a5 -- roxo-clao
#ececec -- cinza-claro

*/


/* CSS GLOBAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins-Bold', sans-serif;
}

html, body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

/* PAGE BODY  */

main {
    margin: auto;
    height: 575px;
    width: 760px;
    border-radius: 30px 30px 200px 30px;
    background-color: #ffff;
}

form {
    display: flex;
    flex-wrap: wrap;
}


/* INPUT */


input {
    padding: 10px 5px 10px 15px;
    height: 65px;
    width: 180px;
    font-size: 29pt;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 7px;
    border-color: hsl(0, 0%, 86%);
}

.input-dice {
    margin: 50px 60px 10px 60px;
    color: hsl(0, 1%, 44%);
}

input:hover {
    border-color: var(--purple);
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.field {
    width: 200px;
    align-items: start;
}

span.roxo {
    color: var(--purple);
}

label {
    letter-spacing: 3px;
}

/* ALERT INPUT */

.Alert {
    color: var(--light-red);
    font-size: 0.8rem;
    font-style: italic;
}

.Hiden, .hiden {
    display: none;
}


/* BUTTON */

.line {
    width: 700px;
    align-self: center;
}

.bnt-field {
    display: flex;
    justify-content: end;
    border: none;
    width: 100%;
}

button {
    width: 85px;
    height: 70px;
    border-radius: 100%;
    border: none;
    background-color: var(--purple);
}

button:hover {
    background-color: var(--off-black);
    cursor: pointer;
}

/* OUTPUT */

.output-dice {
    font: italic 27pt xx-large;
    margin: 10px 20px 20px 30px;
}



@media screen and (max-width: 780px) {
    main {
        width: 720px;
    }
}

@media screen and (max-width: 725px) {
    main {
        width: 420px;
        height: 550px;
    }

    .field {
        width: 120px;
    }

    .input-dice {
        margin: 30px 30px 10px 30px;
    }

    .line {
        width: 150px;
    }

    .hiden {
        display: unset;
    }

    button {
        width: 60px;
        height: 60px;
    }

    .bnt-field {
        justify-content: start;
        margin-top: 30px;
    }

    input {
        padding: 10px 5px 10px 10px;
        height: 48px;
        width: 92px;
        font-size: 18pt;
    }

    .Alert {
        font-size: .6em;
    }

    .output-dice {
        margin: 10px 15px;

    }

    h1 {
        font-size: 165%;
    }
    
}